
body{
    
    padding: auto;
    box-sizing: border-box;
    width:100%;
    height: 100vh;
    overflow-y: auto;
    overflow-x: auto;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    scroll-behavior:smooth;
    font-family: 'Poppins', sans-serif;
}
.header {
    position:fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 2rem 10%;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition:.3s;
    z-index: 100;
}
.header.sticky{
    height: 20px;
    background: rgb(75, 141, 146);
}

.navbar a{
    font-size: 1.2rem;
    font-weight: 700;
    color:rgb(17, 18, 17);
    margin-left:2.2rem;
    transition: .3s;
}

.navbar a:hover,
.navbar a.active{
color: #ff6347;

}
#menu-icon{
    font-size: 3.6rem;
    cursor: pointer;
    display: none;
    color: rgb(17, 18, 17);
}
.section {
    min-height:100vh;
    padding: 20px;
    display: flex;
    scroll-snap-align: start;
    justify-content: center;
    align-items: center;
    color: rgb(40, 34, 34);
}
#home{
     position: relative;
     width: 100%;
     height: 100vh;
     overflow: hidden;
}
.home-content{
    max-width: 60rem;
    z-index: 99;
}
.home-content h1{
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.2;
    color: #0c0c0c;
}
#playground{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    pointer-events: none;
}
#home-content{
    position: relative;
    z-index: 2;
    text-align: center;
    color: white;
    padding-top: 200px;
}
.home-sci{
    position: absolute;
    bottom: 0.5rem;
    width:180px;
    justify-content: space-between;
}
.home.home-sci{
    display: flex;
}
.home-sci a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 30px;
    color: var(--main-color);
    z-index: 1;
    overflow: hidden;
    transition: .2s;
}
.home-sci a:hover{
    color:#f4422b
}


#explore{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    height: 100vh;
    background: rgb(13, 13, 13);
    padding-bottom: 6rem;
}
.explore-content{
    text-align: center;
}
.explore-content p{
    font-weight: 500;
    font-size: 2.6rem;
    color: #f3e3e3;
    margin: 1rem 0 3rem;
}
.btn-box {
    position: relative;
    display:flex;
    justify-content:space-between;
    width:34.5rem;
    height: 5rem;
}
.btn-box .btn{
    position: relative;
    display:inline-flex;
    justify-content: center;
    align-items: center;
    width:15rem;
    height: 100%;
    background-color: #ff6347;
    border-radius: 10rem;
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: .1rem;
    color: black;
    z-index: 1;
    overflow: hidden;
    transition: .3s;
}
.btn-box .btn:hover{
    color: #eccfcb;
}
.btn-box.btns{
    display: inline-block;
    width: 15rem;
}
.btn-box.btns a::before {
    background: #eccfcb;
}

@media (max-width:768px){
    .nav-links{
        flex-direction:column;
    }
    .nav-links li a{
        font-size: 16px;
    }
}
@media (max-width:992px){
    .header {
        padding: 2rem 4%;
    }
    section{
        padding: 10rem 4% 2rem;
    }

    .home{
        padding:0 4%;
    }
}
@media (max-width:768px){
    .header{
        background: var(--bg-color);
    }

    #menu-icon {
        display: block;
    }
    .navbar {
        position:absolute;
        top: 100%;
        left:-100%;
        width:100%;
        padding: 1rem 4%;
        background: var(--bg-color);
        box-shadow: 0 .5rem 1rem black;
        z-index: 1;
        transition: .25s ease;
        transition-delay: .1s;
    }
    .navbar.active {
        left: 0;
        transition-delay: 0s;
    }

    .navbar .active-nav {
        position: absolute;
        top: 0;
        left:0;
        width: 100%;
        height: 100%;
        background: rgb(5, 24, 78);
        border-top: .1rem solid rgb(0, 0, 0);
        z-index: -1;
        transition: .25s ease;
        transition-delay: 0s;
    }
    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
        transform:translate(-20rem);
        transition: .25s ease;
        transition-delay:0s;
    }
    .navbar.active a {
        transform: translate(0);
        transition-delay:.25s;
    }
}